- content_for :customer_form do
  %a.btn.btn-success.pull-right#checkout{"data-toggle" => "modal", :href => "#customerInfo", :role => "button"}
    %i.icon-shopping-cart.icon-large
      Checkout
  #customerInfo.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Customer Info
    .modal-body
      = form_for :book, url: booking_index_path, remote: true  do |f|
        %label Name
        = f.text_field :name
        = f.hidden_field :seat_number
        %button.btn.btn-primary#book Book
        = image_tag 'spinner.gif', id: :spinner, hidden: true
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

- content_for :flash do
  %br
  %br
  #flash
  %br
  %br

- content_for :seat_arrangement do 
  .bs-docs-grid
    - @seat.in_groups_of(10).each do |seat_row|
      .row-fluid.show-grid
        - seat_row.each do |s|
          .span1{id: s.number, class: s.status}= s.number

.row-fluid
  .span3
    .well.sidebar-nav#list
      %h4.nav-header Users List
      %ul.nav.nav-list#user_list
        - @booked_seats.each do |s|
          %li{class: 'label label-success'}= "#{s[1]} booked seat no. #{s[0]}"
  .span9
    = bootstrap_flash
    = yield(:customer_form)
    = yield(:flash)
    = yield(:seat_arrangement)
  
  :javascript
    window.chatController = new Booking.Controller("#{request.host}:#{request.port}/websocket",true);

